.App {
  text-align: center;
  background-image: linear-gradient(#161b24, grey);
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  background-size: cover;
  position: fixed;
  overflow-x: hidden;
}

.App-button {
  height: fit-content;
  width: fit-content;
  margin-top: 200px;
  background-color: #7d7a85;
  border-radius: 8px;
  opacity: 0.6;
  display: inline; 
  font-size: calc(20px + 2vmin);
  font-family: cuckoo;
}
.App-button:hover {opacity: 1;}

.App-logo {
  margin-top:200px;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  font-family: cuckoo;
  color: white;
  margin-top:0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face{
  font-family: cuckoo;
  src: url(Font/cuckoo.ttf)
}
